@font-face{
    font-family: "OpenSans";
    src: url("OpenSans-Regular.ttf") format("truetype");
}
 
@font-face{
    font-family: "nasalization-rg";
    src: url("nasalization-rg.ttf") format("truetype");
}
body{
    font-family: "OpenSans";
    font-size: 14px;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0px;
}
 
header{
    background-image: url("texture-header.jpg");
    height: 150px;
    width: 100%;
}
 
h1{
    font-family: "nasalization-rg";
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
}
 
a,  nav{
    display: inline-block;
    background-color: #f2f2f2;
    color: white;
    padding-right: 50px;
    margin: 0px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
   
}
 
a:link{
    color: white;
}
 
a:visited {
    color: white;
}
 
a:hover {
    background-color: #17c1ff;
}
 
a:active {
    color: #17c1ff;
    font-weight: bold;
}
 
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
h2{
    font-family: "OpenSans";
    background-color: #e6e6e6;
    text-shadow: 2px 2px 4px;
}
 
.paccueil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: center;
    padding: 10px;
}
 
.photos{
    display: flex;
    width: 100%;
    height: auto;
    vertical-align: middle;
}
 
.one{
    flex-wrap: wrap;
    float: left;
    width: 300px;
}
 
.two{
    flex-wrap: wrap;
    float: right;
    width: 800px;
}
 
footer{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}
 
.fondNoir {
    background-color: #2e2f30;
  }

   
